/Java/Exercices/JavaMath/nbproject/private/
/Java/Projects/SA4ToDoListApp/nbproject/private/
/Java/Projects/JavaWhileLoop/nbproject/private/
/Java/Projects/JavaWhileLoop/build/
/Java/Projects/TextualData/nbproject/private/
/Java/Projects/TextualData/build/
/Java/Projects/ConvertingBetweenDataTypes/nbproject/private/
/Java/Projects/ConvertingBetweenDataTypes/build/
/Java/Projects/GUISerialization/nbproject/private/
/Java/Projects/GUISerialization/build/
